{% extends 'core/base.html' %}
{% block content %}
<section class="bg-gray-100 py-24">
    <div class="max-w-4xl mx-auto px-6">
        <div class="card p-6 bg-white shadow-lg rounded-lg">
            <img src="{{ destination.image.url }}" alt="{{ destination.name }}"
                class="w-full max-w-4xl mx-auto rounded-lg object-cover"
                style="height: 400px;">
            <h1 class="text-3xl font-bold mb-2">{{ destination.name }}</h1>
            <p class="text-gray-600 mb-2">{{ destination.country }} | Price: {{ destination.price_range }}</p>
            <p class="text-yellow-500 mb-2">⭐ Rating: {{ destination.rating }}</p>
            <p class="text-gray-700 mt-4">{{ destination.description }}</p>
        </div>
    </div>
</section>
{% endblock %}